<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rtfeditor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rtfeditor.Perspective"
            id="RTFEditor.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RTFEditor.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="RTFEditor.commands.openEditor"
                  label="Open Old Editor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="RTFEditor.commands.openRTFEditor"
                  label="Open New Editor"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rtfeditor.handlers.OpenEditorHandler"
            id="RTFEditor.commands.openEditor"
            name="Open Editor">
      </command>
      <command
            defaultHandler="rtfeditor.handlers.OpenRTFEditorHandler"
            id="RTFEditor.commands.openRTFEditor"
            name="Open RTF Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rtfeditor.editors.RichText"
            default="false"
            id="RTFEditor.editors.rtfEditor"
            name="RTF Editor">
      </editor>
      <editor
            class="rtfeditor.editors.RTFEditor"
            default="false"
            id="RTFEditor.editors.rtfEditor2"
            name="RTF Editor Test">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.bold">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.underline">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.italic">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.boldItalic">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.boldUnderline">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.italicUnderline">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.boldItalicUnderline">
      </type>
      <type
            markerType="org.eclipse.core.resources.textmarker"
            name="RTFEditor.annotation.fragment">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="RTFEditor.annotation.underline"
            colorPreferenceKey="black"
            colorPreferenceValue="0,0,0"
            highlightPreferenceValue="false"
            includeOnPreferencePage="false"
            label="Underline"
            overviewRulerPreferenceKey="overview.false"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="text.underline"
            textPreferenceValue="true"
            textStylePreferenceKey="style.underline"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="vertical.false"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="RTFEditor.annotation.fragment"
            colorPreferenceKey="color.grey"
            colorPreferenceValue="128,128,128"
            highlightPreferenceKey="highlight.true"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Text Fragment"
            overviewRulerPreferenceKey="overview.show"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="text.key"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="vertical.show"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="RTFEditor.activity.hideMenus"
            name="Hide menus">
      </activity>
      <activityPatternBinding
            activityId="RTFEditor.activity.hideMenus"
            pattern="org\.eclipse\.compare/.*">
      </activityPatternBinding>
   </extension>

</plugin>
